@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
	--main-color: #D5BDAF;
	--second-color: #EDEDE9;
	--third-color: #F5EBE0;

	--font: "Roboto Mono", "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: var(--font);
}

.container {
	display: flex;
	justify-content: center;
	height: 100%;
}

.main-container {
	display: flex;
	flex-direction: column;
	width: 700px;
	padding: 50px 50px;
	background-color: var(--main-color);
}

h1 {
	font-size: 64px;
	text-align: right;
	color: var(--second-color);
	margin-bottom: 5px;
}

h2 {
	font-size: 24px;
	text-align: right;
	margin-bottom: 10px;
	color: var(--second-color);
	
}

hr {
	margin-bottom: 30px;
	border: 0;
	height: 1px;
	background-color: var(--second-color);
}

h3 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
	color: var(--second-color);
}

input {
	height: 70px;
	font-size: 20px;
	font-family: var(--font);
	padding-left: 20px;
	background-color: transparent;
	border: 1px solid var(--second-color);
	color: var(--second-color);
	border-radius: 5px;
}

input::placeholder {
	color: var(--second-color);
}

input:focus {
	outline: 2px solid var(--second-color);
}

button {
	height: 70px;
	font-size: 24px;
	font-family: inherit;
	margin: 10px 0 30px 0;
	color: var(--main-color);
	background-color: var(--second-color);
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: var(--third-color);
}

ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

li {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	border: 1px solid var(--second-color);
	border-radius: 5px;
}

.list__item-input {
	height: inherit;
	font-size: 24px;
	border: none;
}

.list__item-input:focus {
	outline: none;
}

.list__icons {
	display: flex;
	justify-content: space-around;
	width: 120px;
	margin-right: 10px;
}

.list__icon-edit,
.list__icon-delete {
	height: 40px;
	width: 40px;
	cursor: pointer;
	stroke: var(--second-color);
	stroke-width: 2px;
}
